<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include('./includes/header') %>

    <div class="main-content">
        <div style="text-align: center;">
            <h1 style="color: silver;">Great radio coming soon...</h1>
        </div>
    </div>



    <%- include('./includes/footer') %>
    
</body>
</html>