<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listen Live! - WIKR</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include('./includes/header') %>

    <div class="main-content">
        <div style="text-align: center;">
            <div class="iceplayer" style="top: 50%">
                <audio controls autoplay>
                    <source src="https://ice1.wikrradio.com/WIKR">
                </audio>
            </div>
        </div>
    </div>



    <%- include('./includes/footer') %>
    
</body>
</html>