<div class="site-header">
    <div class="WIKR-Logo"><img src="/img/WIKR Logo.png" height="128px"></div>
    <div class="header-content" style="margin: auto; text-align: center;">
        <a href="/">Home</a>
        <a href="/listen-live">Listen Live!</a>
    </div>
    
</div>