<div class="site-header">
    <div class="WIKR-Logo"><img src="/img/WIKR Logo.png" height="128px"></div>
    <div class="header-content" style="margin: auto; text-align: center;">
        <a href="/"><i class="fa-solid fa-house"></i> Home</a>
        <a href="/listen-live"><i class="fa-solid fa-tower-cell"></i> Listen Live!</a>
        <a href="/about"><i class="fa-solid fa-circle-question"></i> About</a>
        <div style="float: right; margin: auto; text-align: center;"><a href="https://www.facebook.com/WIKRRadio"><i class="fa-brands fa-facebook"></i> Like us on Facebook!</a></div>
    </div>
    
</div>