<div class="site-header">
    <div class="WIKR-Logo"><img src="/img/WIKR Logo.png" height="128px"></div>
    <div class="header-content" style="margin: auto; text-align: center;">
        <a href="/">Home</a>
        <a href="/listen-live">Listen Live!</a>
        <a href="/about">About</a>
        <div style="float: right;"><a href="https://www.facebook.com/WIKRRadio"><i class="fa-brands fa-facebook" style="font-size: 24px;"></i> Like us on Facebook!</a></div>
    </div>
    
</div>